:root {
    --background-color: #000;
    --background-black: #000 ;
    --background-gray: #1B1E23 ;
    --background-white: #3B3C3C ;
    --color-primary: #13f78c;
    --color-secondary: #0be6e6;
    --color-accent: #f700c5;
    --color-text: #FFF;
    --color-link: #000;
}

.light-theme {
    --background-color: #FFF;
    --color-text: #000;    
    --color-link: #FFF;
    --background-black: #CCC ;
    --background-gray: #EEE ;
    --background-white: #FFF ;  
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, var(--background-black), var(--background-gray),  var(--background-white));
    font-family: sans-serif;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

img {
    border-radius: 9999px;
    width: 320px;
    height: 320px;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 322px;
    height: 322px;
    background: linear-gradient(var(--color-primary), var(--color-secondary),  var(--color-accent)) padding-box;
}

h1 {
    color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: .5rem
}

p {
    color: var(--color-accent);
}

ul {
    margin-top: 2rem;
}

li {
    margin-bottom: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-link);
    background-color: var(--color-secondary);
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

a:hover {
    background-color: var(--color-primary);
}

.container {
    width: 320px;
    text-align: center;
    margin: 2.5rem auto;
}

footer {
    margin-top: 2rem;
    color: var(--color-text);
}

.strong {
    color: var(--color-primary);
    cursor: pointer;
    font-weight: bold;
}

.toogle {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
}

.toogle img {
    width: 50px;
    height: 50px;
}

  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}