* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000 ;
    font-family: sans-serif;
}

img {
    border-radius: 9999px;
    width: 320px;
    height: 320px;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 322px;
    height: 322px;
    background: linear-gradient(#13f78c, #0be6e6, #f700c5) padding-box;
}

h1 {
    color: #13f78c;
    margin-top: 2rem;
    margin-bottom: .5rem
}

p {
    color: #f700c5;
}

ul {
    margin-top: 2rem;
}

li {
    margin-bottom: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    background-color: #0be6e6;
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

a:hover {
    background-color: #13f78c;
    color: #FFF;
}

.container {
    width: 320px;
    text-align: center;
    margin: 2.5rem auto;
}

footer {
    margin-top: 2rem;
    color: #FFF;
}

.strong {
    color: #13f78c;
    cursor: pointer;
    font-weight: bold;
}
